<h1>Doogle</h1>

<table>

  <%= form_tag(words_path, method: :get) do %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag 'Search' %>
  <% end %>

  <tr>
    <th>Definition</th>
  </tr>
  <% if !@word.nil? %>
    <% @word.each do |word|  %>
      <tr>
        <td><%= word.definition %></td>
      </tr>
    <% end %>
  <% end %>
</table>
